@{
    ViewBag.Title = "主页";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">主页</h1>
        <p class="lead">这是课设的评卷系统</p>
        <p class="">@Html.ActionLink("登录", "Login", "Users")</p>
    </section>

</main>