@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form action="/Users/Login" method="post">
        <div class="container wrapl" style="height: 450px;">
            <div class="col-sm-8 col-md-5 center-auto pd-sm-50 pd-xs-20 main content">
                <p class="text-center font16">学生登录</p>
                <div class="form-group mg-t20">
                    <i class="icon-user iconfont"></i>
                    <input type="text" id="username" name="username" placeholder="请输入用户名" class="form-control" />
                </div>
                <div class="form-group mg-t20">
                    <i class="icon-lock iconfont"></i>
                    <input type="password" id="password" name="password" placeholder="请输入密码" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">登录</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>